/* Global styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.5;
}

a {
    color: #333;
    text-decoration: none;
}

ul {
    list-style: none;
}

/* Header styles */
header {
    background-color: #ffffff;
    /*# Dim the background color*/
    /*background-color: rgba(255, 255, 255, 0.8);*/
    padding: 1rem;
}

nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    margin-right: 1rem;
}

/* Hero section styles */
.hero {
    background-image: url("https://picsum.photos/1600/900");
    background-size: cover;
    background-position: center;
    color: #ffffff;
    padding: 5rem;
    text-align: center;
    height: 500px;
}

.hero h1 {
    font-size: 5rem;
    margin-bottom: 2rem;
    top: 20%;
}

.hero a {
    display: inline-block;
    padding: 1rem 2rem;
    border: 1px solid #fff;
    border-radius: 5px;
    margin-top: 2rem;
    text-decoration: none;
}

.button {
    background-color: #333;
    color: #fff;
    padding: 1rem 2rem;
}


.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    position: relative;
    top: 20px;
    left: 38%;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #ffffff
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ffffff;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

/* Hero info section styles */
.hero-info {
    background-color: #eee;
    text-align: justify;
    padding: 2rem;
}

.hero-info img {
    float: left;
    margin-right: 1rem;
    max-width: 300px;
    border-radius: 50%;
}

.hero-info p {
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 1.5;
}

footer {
    background-color: #ffffff;
    color: #fff;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-media a {
    margin: 1em;
}

.social-media img {
    height: 2em;
}

.fa-envelope {
  font-size: 15em; /* adjust the size as needed */
}

.social-media p {
  color: #000000;
}
